<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Note to Text Converter</title>
    <link rel="stylesheet" href="../static/styless.css">
</head>
<body>
    <div class="container">
        <h1>Voice Note to Text Converter</h1>
       <div class="about"> <button id="recordButton"> <img src="https://www.shutterstock.com/image-photo/voice-recording-man-touching-microphone-600nw-2292486177.jpg" style="width: 200px;; height:100px;"></button></div>
       <div id="statusMessage"></div>
        <div id="count"></div>
       <textarea id="transcriptionBox" rows="10" cols="50" readonly></textarea>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>
